@font-face {
  font-family: 'Helvetica Neue Condensed Black';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Condensed Black'), url('fonts/HelveticaNeueCondensedBlack.ttf') format('woff');
}
@font-face {
  font-family: 'Helvetica Neue Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Medium'), url('fonts/HelveticaNeueMedium.ttf') format('woff');
}
body {
  margin: 0;
  padding: 0;
  font-family:'Helvetica Neue Condensed Black';
  background-color: #fff;
  color: #20272C;
}
.background-big-messages {
  font-size: 7.2vw;
  color: #20272C;
  opacity: 0.05;
  line-height: 0.72em;
  letter-spacing: -3px;
}
.top-message {
  top: -1.4%;
  left: -1.1%;
  position: absolute;
  width: 21.96%;
}
.bottom-message {
  bottom: -1.4%;
  right: -1.1%;
  position: absolute;
  width: 21.96%;
  text-align: right;
}
.home {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.press {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.download {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.how {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.press .top-message {
  font-size: 11vw;
  left: -3.2%;
  top: -2.6%;
}
.press .bottom-message {
  font-size: 11vw;
  right: 1.6%;
}
.download .top-message {
  font-size: 11vw;
}
.download .bottom-message {
  font-size: 11vw;
  right: 25%;
}
.hand {
  height: 60.42vh;
  width:  24.3vw;
  bottom: 0px;
  left: 36.2vw;
  position: fixed;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/home_hand.png');
  background-size: 100% 100%;
  opacity: 1;
  -webkit-filter: saturate(15%) brightness(175%) contrast(70%); /* Safari 6.0 - 9.0 */
  filter: saturate(15%) brightness(155%) contrast(65%);
}
.cell {
  top: 39.1vh;
  left: 45.3vw;
  width: 11.96vw;
  height: 39.06vh;
  position: fixed;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/cell.png');
  background-size: 100% 100%;
  z-index: 9;
}
.dot-hand {
  top: 53.5vh;
  left: 51vw;
  position: fixed;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/dot.png');
  background-size: 100% 100%;
  width: 4.02vw;
  height: 6.31vh;
  margin-left: -1.83vw;
  margin-top: -1.5vh;
  z-index: 99;
}
.dot-press {
  top: 4.5vh;
  left: 2.8vw;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/dot.png');
  background-size: 100% 100%;
  width: 4.2vw;
  height: 6.31vh;
  -webkit-box-shadow: 0px 0px 0.8vw 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 0.8vw 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 0.8vw 0px rgba(0,0,0,0.75);
  border-radius: 0.8vw;
  z-index: 99;
}
.friend-dot-head {
  top: 6.4vh;
  left: 9.1vw;
  position: absolute;
  z-index: 99;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('images/friendots.png');
  background-size: 100% 100%;
  width: 5vw;
  height: 2.6vh;
}
.dot-download {
  bottom: 25.5vh;
  right: 5.42vw;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/dot.png');
  background-size: 100% 100%;
  width: 14.1vw;
  height: 22.25vh;
  -webkit-box-shadow: 0px 0px 1vw 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1vw 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1vw 0px rgba(0,0,0,0.4);
  border-radius: 22%;
}
.friend-dot-home-logo {
  top: 66.8vh;
  left: 49vw;
  position: absolute;
  z-index: 99;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/friendots.png');
  background-size: 100% 100%;
  width: 4.4vw;
  height: 1.6vh;
  -webkit-filter: contrast(0%) brightness(200%);  /* Safari */
  filter: contrast(0%) brightness(200%);
}
.friend-dot-download-logo {
  bottom: 17.1vh;
  right: 8.2vw;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/friendots.png');
  background-size: 100% 100%;
  width: 8.8vw;
  height: 4vh;
}
.menu {
  position: fixed;
  right: 0px;
  margin-top: 5vh;
  margin-right: 5vw;
  z-index: 99;
  cursor: pointer;
  font-size: 1.6vw;
}
.menu ul {
  list-style-type: none;
}
.menu a {
  display: inline;
  margin-right: 5%;
  cursor: pointer;
  text-decoration: none;
  color: #20272C;
}
.menu a:hover {
  color: #e5e5e9;
}
.menu .selected {
  color: #e5e5e9;
}
.bottom-menu .selected {
  color: #e5e5e9;
}
.bottom-section {
  position: fixed;
  left: 0px;
  bottom: 0px;
  margin-bottom: 3.5vh;
  margin-left: 2.5vw;
  z-index: 99;
}
.bottom-menu ul {
  list-style-type: none;
  padding: 0px;
}
.bottom-menu a {
  display: inline;
  margin-right: 7%;
  font-size: 0.9vw;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}
.bottom-menu a:hover {
  color: #d7d7d7;
}
.copyright {
  font-size: 0.7vw;
  margin-top: -1.5vh;
  color: #d7d7d7;
}
.press-center-boxes {
  position: absolute;
  width: 2000%;
  top: 32vh;
  height: 45vh;
  padding-left: 4vw;
  display: inline-block;
  overflow: visible;
}
.press-boxes {
  width: 19.6vw;
  height: 100%;
  float: left;
  margin: 1vw;
  cursor: pointer;
  overflow: visible;
}
.box-image {
  width: 19.6vw;
  height: 30.78vh;
  border-radius: 5%;
  -webkit-box-shadow: 0px 0px 0.8vw 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 1.2vw 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 1.2vw 0px rgba(0,0,0,0.5);
  overflow: hidden;
}
.box-image img {
  width: 100%;
  height: 100%;
}
.box-description {
  margin-top: 2.6%;
  margin-left: 12%;
  margin-right: 12%;
  font-size: 1.6vw;
  text-align: right;
  color: #dadada;
  overflow: hidden;
  max-height: 30%;
}
.apple-store {
  bottom: 8%;
  right: 8.6%;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/apple_store.png');
  background-size: 100% 100%;
  -webkit-box-shadow: 0px 0px 0.8vw 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 1.2vw 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 1.2vw 0px rgba(0,0,0,0.5);
  width: 7.75%;
  height: 3.66%;
  border-radius: 0.4vw;
}
.text-footer-download {
  bottom: 3.28%;
  right: 8.6%;
  position: absolute;
  font-size: 0.8vw;
  color: #d7d7d7;
}
.support-form {
  margin-left: 5%;
}
.box-info{
  margin-top: 20vh;
  height: 60vh;
  padding: 0px;
  overflow: hidden;
  font-family: 'Helvetica Neue Medium'
}
.box-info .info {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.box-info .info h5 {
  font-size: 1.2em;
  color: #007aff;
}
.box-info .info .blue {
  color: #007aff;
}
.box-info .info::-webkit-scrollbar {
  width: 6px;
	background-color: #F5F5F5;
}
.box-info .info::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: transparent;
}
.box-info .info::-webkit-scrollbar-thumb {
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.box-support {
  margin-top: 40vh;
  height: 20vh;
}
.box-support .info {
  margin-top: 1vh;
}
.page .background-big-messages {
  position: fixed;
  font-size: 10vw;
}
.support .bottom-message {
  right: 0.5%;
}
.privacy .bottom-message {
  right: 5%;
}
.privacy .top-message {
  left: -5%;
}
.terms .bottom-message {
  right: 3.5%;
}
.how .top-message {
  font-size: 10vw;
  left: -1.6%;
}
.how .bottom-message {
  right: -5%;
  bottom: -4.5%;
  font-size: 10vw;
  width: 81.96%;
  -ms-transform: rotate(-2deg); /* IE 9 */
  -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
  transform: rotate(-2deg);
}
.how-box {
  position: absolute;
  width: 2000%;
  top: 23.7%;
  height: 52.6%;
  padding-left: 4%;
  display: inline-block;
  overflow: visible;
}
.how-item {
  width: 20vw;
  height: 100%;
  margin-left: 2.3vw;
  border: 1px solid #d1d1d1;
  border-radius: 5%;
  float: left;
  -webkit-box-shadow: 0px 0px 0.8vw 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 1.2vw 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 1.2vw 0px rgba(0,0,0,0.5);
}
.how-description {
  margin-top: 90%;
  width: 100%;
  font-size: 1.6vw;
  text-align: right;
  color: #dadada;
  padding: 10%;
}
.sticker-1 {
  bottom: 44.5%;
  right: 16.66%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_1.png');
  background-size: 100% 100%;
  width: 21.03vw;
  height: 18.09vh;
}
.sticker-2 {
  bottom: 55.24%;
  right: 6.33%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_2.png');
  background-size: 100% 100%;
  width: 12.35vw;
  height: 9.33vh;
}
.sticker-3 {
  bottom: 42%;
  right: 36.6%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_3.png');
  background-size: 100% 100%;
  width: 20vw;
  height: 14.68vh;
}
.sticker-4 {
  bottom: 63%;
  right: 12.92%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_4.png');
  background-size: 100% 100%;
  width: 15.16vw;
  height: 10.47vh;
}
.sticker-5 {
  bottom: 55%;
  right: 34%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_5.png');
  background-size: 100% 100%;
  width: 17.41vw;
  height: 14.73vh;
}
.sticker-6 {
  bottom: 70%;
  right: 24.6%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_6.png');
  background-size: 100% 100%;
  width: 18.1vw;
  height: 13.7vh;
}
.sticker-7 {
  bottom: 66%;
  right: 44%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_7.png');
  background-size: 100% 100%;
  width: 18.67%;
  height: 22.5%;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
}
.sticker-8 {
  bottom: 55%;
  right: 67.5%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_8.png');
  background-size: 100% 100%;
  width: 20.10%;
  height: 24.22%;
}
.sticker-9 {
  bottom: 78%;
  right: 65%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_9.png');
  background-size: 100% 100%;
  width: 15%;
  height: 20%;
}
.sticker-10 {
  bottom: 78.53%;
  right: 82.16%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_10.png');
  background-size: 100% 100%;
  width: 20.83%;
  height: 28%;
  -ms-transform: rotate(6deg); /* IE 9 */
  -webkit-transform: rotate(6deg); /* Chrome, Safari, Opera */
  transform: rotate(6deg);
}
.sticker-11 {
  bottom: 93%;
  right: 55%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_11.png');
  background-size: 100% 100%;
  width: 8%;
  height: 13%;
  -ms-transform: rotate(-35deg); /* IE 9 */
  -webkit-transform: rotate(-35deg); /* Chrome, Safari, Opera */
  transform: rotate(-35deg);
}
.sticker-12 {
  bottom: 67%;
  right: 35.78%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_12.png');
  background-size: 100% 100%;
  width: 3%;
  height: 6%;
  -ms-transform: rotate(12deg); /* IE 9 */
  -webkit-transform: rotate(12deg); /* Chrome, Safari, Opera */
  transform: rotate(12deg);
}
.sticker-13 {
  bottom: 61%;
  right: 29%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_13.png');
  background-size: 100% 100%;
  width: 4%;
  height: 6%;
}
.sticker-14 {
  bottom: 78%;
  right: 20.7%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_14.png');
  background-size: 100% 100%;
  width: 2.4%;
  height: 4.5%;
}
.sticker-15 {
  bottom: 82%;
  right: 28.75%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_15.png');
  background-size: 100% 100%;
  width: 3%;
  height: 6.5%;
}
.sticker-16 {
  bottom: 56%;
  right: 52.5%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_16.png');
  background-size: 100% 100%;
  width: 3%;
  height: 6%;
}
.sticker-17 {
  bottom: 57%;
  right: 58.3%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_17.png');
  background-size: 100% 100%;
  width: 7%;
  height: 10%;
}
.sticker-18 {
  bottom: 80%;
  right: 42.5%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_18.png');
  background-size: 100% 100%;
  width: 3%;
  height: 6%;
}
.sticker-19 {
  bottom: 86%;
  right: 38.2%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_19.png');
  background-size: 100% 100%;
  width: 3%;
  height: 5%;
}
.sticker-20 {
  bottom: 88%;
  right: 46.76%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_20.png');
  background-size: 100% 100%;
  width: 3%;
  height: 6%;
}
.sticker-21 {
  bottom: 90%;
  right: 42.77%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_21.png');
  background-size: 100% 100%;
  width: 2.7%;
  height: 7%;
}
.sticker-22 {
  bottom: 89%;
  right: 62%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_22.png');
  background-size: 100% 100%;
  width: 4%;
  height: 4%;
}
.sticker-23 {
  bottom: 95%;
  right: 65%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_23.png');
  background-size: 100% 100%;
  width: 2.5%;
  height: 3.65%;
}
.sticker-24 {
  bottom: 75%;
  right: 78.85%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_24.png');
  background-size: 100% 100%;
  width: 3%;
  height: 6%;
}
.sticker-25 {
  bottom: 60%;
  right: 94%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_25.png');
  background-size: 100% 100%;
  width: 3%;
  height: 6%;
}
.sticker-26 {
  bottom: 57.6%;
  right: 87.83%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_26.png');
  background-size: 100% 100%;
  width: 4%;
  height: 10%;
}
.sticker-27 {
  bottom: 52.35%;
  right: 97%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_27.png');
  background-size: 100% 100%;
  width: 4%;
  height: 8%;
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
  transform: rotate(-20deg);
}
.sticker-29 {
  bottom: 76%;
  right: 98%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_29.png');
  background-size: 100% 100%;
  width: 3%;
  height: 6%;
  -ms-transform: rotate(-12deg); /* IE 9 */
  -webkit-transform: rotate(-12deg); /* Chrome, Safari, Opera */
  transform: rotate(-12deg);
}
.sticker-30 {
  bottom: 94%;
  right: 74%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_30.png');
  background-size: 100% 100%;
  width: 10.8%;
  height: 10.8%;
}
.sticker-31 {
  bottom: 65%;
  right: 90.66%;
  z-index: 99;
  position: absolute;
  background-repeat:no-repeat;
  background-position: center center;
  background-image: url('images/sticker_31.png');
  background-size: 100% 100%;
  width: 10.75%;
  height: 13.8%;
}
